module howdy 1.0;

require {
    type unconfined_t;
    type v4l_device_t;
    class chr_file { open read write ioctl };
}

# Autoriser l'accès à la caméra pour Howdy
allow unconfined_t v4l_device_t:chr_file { open read write ioctl };